
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #424242;            
    color: white;
    font-family: 'Montserrat', sans-serif;          
    padding-bottom: 100px;  
}   

p {
    font-size: 20px;
}

.header {
    padding: 40px;
    text-align: center;
    background: #212121;
    font-size: 40px;
    box-sizing: border-box;
}

.header h1 {
    color: white;
}

.content-profile {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 50px;
    clear: both;
}

.title-profile {
    width: 95%;
    height: auto;
    padding: 20px;
    font-size: 32px;
    margin: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #616161;
    border-radius: 6px;
}

.title-profile h2 {
    margin-top: 8px;
    text-align: center;
    vertical-align: middle;
}

.title-profile a {
    float: right;
}

.subtitle-profile {
    width: 100%;
    height: auto;
    color: white;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 40px;
}

.img {
    width: 250px;
    margin: auto;
    flex: 1;
    margin: 40px;
    border: 2px solid white;
    border-radius: 4px;
}     

.img:hover {
    border: 2px solid #F4511E;
}

.description-profile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {         
    width: 33%;
    height: auto; 
    vertical-align: middle;
    padding: 20px;
    margin: 0 20px;
}      

ul {
    display: inline-block;
}

ul li {
    text-align: center;
    font-size: 20px;
    list-style: disc;
}

ol li {
    text-align: center;
    font-size: 20px;
    list-style: upper-roman;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.row {        
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    /* [ display: center; ] desnecessário */
}            

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    flex-direction: column;
    /* justify-content: center; >>> não é necessario neste caso, somente o flex já deveria alinhar */
    box-sizing: border-box; /* evita estourar de 90% o tamanho com alterações internas */
}

.button {            
    background-color: #f24f29 ;
    color:white;
    border-radius: 4px;
    padding: 15px 35px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.5s;
}
.button:hover {
    background-color:grey ;
    color: white;
}

hr {
    border: 1px solid #EEEEEE;
}